body {
  font-family: arial;
  background: #f8f9fb;
}

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* img{
    width: 100%;
  } */
#main-nav {
  background: #032f3e;
}

#main-nav ul {
  width: 100%;
}

#main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

#main-nav li {
  float: left;
  width: 16.66667%;
}

@media screen and (max-width: 600px) {
  #main-nav li {
    width: 100%;
  }
}

#main-nav a {
  color: #f8f9fb;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
  transition: .7s;
}

#main-nav a:hover {
  background: #043e51;
  color: orange;
}

section h1 {
  font-size: 24px;
  color: #032f3e;
}

.lead-banner {
  width: 100%;
  position: relative;
  color: white;
  text-align: right;
}

.lead-banner .banner-content {
  position: absolute;
  width: 100%;
  top: 50px;
}

.lead-banner img {
  width: 100%;
}

.lead-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 3000px) and (min-width: 1200px) {
  .lead-banner span {
    font-size: 75px;
  }
}

.lead-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
}

.lessons-banner {
  width: 100%;
  position: relative;
  color: white;
}

.lessons-banner .banner-content {
  position: absolute;
  width: 100%;
  top: 50px;
}

.lessons-banner img {
  width: 100%;
}

.lessons-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 3000px) and (min-width: 1200px) {
  .lessons-banner span {
    font-size: 75px;
  }
}

.lessons-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
}

.lessons-banner li {
  text-transform: uppercase;
  max-width: 500px;
  font-size: 20px;
  margin: 60px 0px;
}

#services {
  margin-bottom: 60px;
}

#services h1 {
  text-align: center;
  padding-top: 20px;
}

#services li {
  float: left;
  box-sizing: border-box;
  text-align: center;
  width: 33.33333%;
}

#services img {
  width: 60%;
  margin: 20px 20%;
}

#services a {
  text-decoration: none;
  font-weight: bold;
  color: #032f3e;
}

#services a:hover {
  color: #3e1203;
}

#services ul:after {
  content: "";
  display: block;
  clear: both;
}

#projects li {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
}

#projects li:nth-child(4n) {
  margin-right: 0;
}

#projects li img {
  width: 100%;
}
